* {
    box-sizing: border-box;
    font-family: 'Pusab', sans-serif;
}

body {
    background: url(others/demonlist/background.jpg) no-repeat fixed;
    background-size: 102vw;
}

.listHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    border-bottom: rgb(0, 106, 255) 0.5px solid;
}

.listOfDemons {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.levelPanelContainer img {
    height: 90%;
    width: 10%;
    float: left;
    margin: 7px 0 7px 7px;
}

.levelPanelContainer {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 1vh;
    padding: 0.5vw;
    background-position: right;
    background-position-x: right;
    background-position-y: center;
    transition: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    padding: 7px;
    border: rgb(0, 106, 255) 0.5px solid;
}

.levelPanelContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 106, 255, 1);
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

a:hover {
    border-bottom: 1px solid;
    color: rgb(0, 106, 255);
    transition: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

span {
    margin-left: 2%;
}